sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t ruibalmeida/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true ruibalmeida/docker-react npm run test 